/* src/index.css */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid black;
  th,
  td {
    padding: 10px;
    text-align: left;
  }
}

input {
  width: 100%;
  box-sizing: border-box;
}

.react-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.react-modal-content {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background: rgb(255, 255, 255);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
